/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #dc143c #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    /* overflow: auto; */
  }

  *::-webkit-scrollbar-track {
    background: #000000;
    /* overflow: auto; */
  }

  *::-webkit-scrollbar-thumb {
    /* overflow: auto; */
    background-color: #dc143c;
    border-radius: 15px;
    border: 4px solid #ffffff;
  }